<ngl-tabset [(selected)]="selectedTab">
  <ng-template ngl-tab label="Create Embeddings">
    <app-create-embeddings></app-create-embeddings>
  </ng-template>
  <ng-template ngl-tab label="Family Situation">
    <app-family-situation></app-family-situation>
  </ng-template>
  <ng-template ngl-tab label="Professional Background">
    <app-professional-background></app-professional-background>
  </ng-template>
  <ng-template ngl-tab label="Assets and Liabilities">
    <app-assets-and-liabilities></app-assets-and-liabilities>
  </ng-template>
</ngl-tabset>
